@import url("./search-dialog.css");
@import url("./theme.css");

:root {
  --fd-page-width: 1100px;
  /* --fd-layout-width: 100%; */

  a {
    text-underline-offset: var(--spacing);
    text-decoration: initial;

    &:hover {
      text-decoration: underline;
    }
  }

  #nd-docs-layout {
    #nd-page {
      margin-inline: initial;

      /* DocsBody */
      > article div[class="prose flex-1"] {
        background-color: var(--color-fd-background);
        position: relative;
      }
    }

    [id^="nd-sidebar"] {
      background-color: var(--color-fd-background);

      [data-radix-scroll-area-viewport] a[data-active]:hover {
        text-decoration: initial;
      }
    }
  }

  input {
    accent-color: var(--tw-prose-links);
  }

  table th {
    text-wrap: nowrap;
  }

  .prose {
    --tw-prose-links: blue;
  }

  &.dark {
    .prose {
      --tw-prose-links: cornflowerblue;
    }
  }
}
