@import url("./theme.css");
@import url("./docs-layout.css");
@import url("./components.css");

:root {
  --fd-page-width: 1100px;
  /* --fd-layout-width: 100%; */

  a {
    text-underline-offset: var(--spacing);
    text-decoration: unset;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  input {
    accent-color: var(--tw-prose-links);
  }

  table {
    background-color: var(--color-fd-card);

    th {
      text-wrap: nowrap;
      background-color: inherit;
    }
  }

  .prose {
    --tw-prose-links: blue;
  }

  &.dark .prose {
    --tw-prose-links: cornflowerblue;
  }
}
