:root {
  /* Colors for data series and points */
  --highcharts-color-0: #2caffe;
  --highcharts-color-1: #544fc5;
  --highcharts-color-2: #00e272;
  --highcharts-color-3: #fe6a35;
  --highcharts-color-4: #6b8abc;
  --highcharts-color-5: #d568fb;
  --highcharts-color-6: #2ee0ca;
  --highcharts-color-7: #fa4b42;
  --highcharts-color-8: #feb56a;
  --highcharts-color-9: #91e8e1;

  /* Chart background, point stroke for markers and columns etc */
  --highcharts-background-color: #ffffff;

  /*
    Neutral colors, grayscale by default. The default colors are defined by
    mixing the background-color with neutral, with a weight corresponding to
    the number in the name.

    https://www.highcharts.com/samples/highcharts/css/palette-helper
    */

  /* Strong text. */
  --highcharts-neutral-color-100: #000000;

  /* Main text, axis labels and some strokes. */
  --highcharts-neutral-color-80: #333333;

  /* Axis title, connector fallback. */
  --highcharts-neutral-color-60: #666666;

  /* Credits text, export menu stroke. */
  --highcharts-neutral-color-40: #999999;

  /* Disabled texts, button strokes, crosshair etc. */
  --highcharts-neutral-color-20: #cccccc;

  /* Grid lines etc. */
  --highcharts-neutral-color-10: #e6e6e6;

  /* Minor grid lines etc. */
  --highcharts-neutral-color-5: #f2f2f2;

  /* Tooltip background, button fills, map null points. */
  --highcharts-neutral-color-3: #f7f7f7;

  /*
    Highlights, shades of blue by default
    */

  /* Drilldown clickable labels, color axis max color. */
  --highcharts-highlight-color-100: #0022ff;

  /* Selection marker, menu hover, button hover, chart border, navigator
    series. */
  --highcharts-highlight-color-80: #334eff;

  /* Navigator mask fill. */
  --highcharts-highlight-color-60: #667aff;

  /* Ticks and axis line. */
  --highcharts-highlight-color-20: #ccd3ff;

  /* Pressed button, color axis min color. */
  --highcharts-highlight-color-10: #e6e9ff;

  /* Indicators */
  --highcharts-positive-color: #06b535;
  --highcharts-negative-color: #f21313;

  /* Transparent colors for annotations */
  --highcharts-annotation-color-0: rgba(130, 170, 255, 0.4);
  --highcharts-annotation-color-1: rgba(139, 191, 216, 0.4);
  --highcharts-annotation-color-2: rgba(150, 216, 192, 0.4);
  --highcharts-annotation-color-3: rgba(156, 229, 161, 0.4);
  --highcharts-annotation-color-4: rgba(162, 241, 130, 0.4);
  --highcharts-annotation-color-5: rgba(169, 255, 101, 0.4);

  &.dark {
    /* Colors for data series and points */
    --highcharts-color-1: #00e272;
    --highcharts-color-2: #efdf00;

    /* UI colors */
    --highcharts-background-color: #141414;

    /*
        Neutral color variations
        https://www.highcharts.com/samples/highcharts/css/palette-helper
    */
    --highcharts-neutral-color-100: #ffffff;
    --highcharts-neutral-color-80: #d0d0d0;
    --highcharts-neutral-color-60: #a1a1a1;
    --highcharts-neutral-color-40: #727272;
    --highcharts-neutral-color-20: #434343;
    --highcharts-neutral-color-10: #2c2c2c;
    --highcharts-neutral-color-5: #202020;
    --highcharts-neutral-color-3: #1b1b1b;

    /* Highlight color variations */
    --highcharts-highlight-color-100: #2caffe;
    --highcharts-highlight-color-80: #2790cf;
    --highcharts-highlight-color-60: #2271a0;
    --highcharts-highlight-color-20: #193343;
    --highcharts-highlight-color-10: #16242b;
  }
}
