/* SearchDialog */
[data-state="open"] + [role="dialog"] {
  background-color: var(--color-fd-background);

  [data-empty="false"] button p[class="min-w-0 truncate font-medium"] {
    color: var(--color-fd-muted-foreground);

    span {
      color: var(--color-fd-foreground);
    }
  }
}

/* DocsLayout */
#nd-docs-layout {
  #nd-page {
    margin-inline: unset;

    /* DocsBody */
    > article div[class="prose flex-1"] {
      background-color: var(--color-fd-background);
      position: relative;
    }
  }

  [id^="nd-sidebar"] {
    background-color: var(--color-fd-background);

    [data-radix-scroll-area-viewport] a[data-active]:hover {
      text-decoration: unset;
    }
  }
}
