@import url("./theme-options/index.css");

:root {
  --highcharts-background-color: var(--color-fd-background) !important;
}

[data-highcharts-chart] .highcharts-menu hr {
  margin-block: calc((var(--spacing) * 2));
}
